.simditor .simditor-body hr, .editor-style hr {
    margin-top: 44px;
    margin-bottom: 34px;
    display:block;
    border:0;
    text-align:center;
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    line-height: 1.4;
    letter-spacing: .6em;
}
.simditor .simditor-body hr:before, .editor-style hr:before {
    content:'...';
    display:inline-block;
    margin-left:.6em;
    color:rgba(0,0,0,.6);
    position:relative;
    top:-30px
}

@font-face {
	font-family: 'charter';
	src: url('charter_regular.ttf') format('truetype'),
	     url('charter_bold.ttf') format('truetype'),
	     url('charter_bold_italic.ttf') format('truetype'),
	     url('charter_italic.ttf') format('truetype'); /* Legacy iOS */
   }

.simditor .simditor-body, .editor-style {
  font-size: 18px;
  font-family: 'charter', Helvetica, arial, sans-serif;
  line-height: 1.6;
  color: #333;
  outline: none;
  word-wrap: break-word;
}

.simditor .simditor-wrapper .simditor-placeholder {
  display: none;
  position: absolute;
  left: 0;
  z-index: 0;
  padding: 22px 15px;
  font-size: 18px;
  font-family: 'charter', Helvetica, arial, sans-serif;
  line-height: 1.5;
  color: #999999;
  background: transparent;
}
